<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-2 p-0 sidebarContainer">
            <div class="d-flex sidebar flex-column flex-shrink-0 p-2">
                <a class="text-center fw-bold fs-4  text-white text-decoration-none">
                    Tableau de bord
                </a>
                <hr>

                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item my-2" [ngClass]="{'fond-bleu': boutonActif === 1}"
                        (click)="showContent('apercuForm')" (click)="boutonActif = 1">
                        <a class="nav-link text-white">
                            Aperçu formateurs
                        </a>
                    </li>

                    <li class="nav-item my-2" [ngClass]="{'fond-bleu': boutonActif === 2}"
                        (click)="showContent('listeFormateurs')" (click)="boutonActif = 2">
                        <a class="nav-link text-white">
                            Liste Formateurs
                        </a>
                    </li>

                    <li class="nav-item my-2" [ngClass]="{'fond-bleu': boutonActif === 3}"
                        (click)="showContent('formateursOff')" (click)="boutonActif = 3">
                        <a class="nav-link text-white">
                            Liste formateurs désactivés
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-12 col-md-10 border">
            <div class="apercuForm p-2" id="apercuForm" *ngIf="currentContent === 'apercuForm'">
                <h4 class="text-center titre">Aperçu des formateurs</h4>
                <!-- <div class="bg" >
                    <img src="../../../assets/bg1.jpg"  alt="">
                </div> -->
            </div>

            <div class="listeFormateurs p-2" id="listeFormateurs" *ngIf="currentContent === 'listeFormateurs'">

                <h4 class="text-center fw-bold titre">Liste formateurs</h4>
                <div class="trait"></div>
                <button class="btn btn-white btnAjt mt-2 mb-2 active" data-bs-toggle="modal"
                    data-bs-target="#ajoutFormateur">Ajouter un formateur
                </button>


                <div class="table-responsive overflow-y-scroll" style="height: 55vh;">
                    <table class="table align-items-center  p-2">
                        <thead class="sticky-top fond-bleu">
                            <tr class="">
                                <th scope="col" class="fond-bleu text-white">Profil</th>
                                <th scope="col" class="fond-bleu text-white">Prénom du formateur</th>
                                <th scope="col" class="fond-bleu text-white">Nom du formateur</th>
                                <th scope="col" class="fond-bleu text-white">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let prof of tabFormateur" class="">
                                <tr *ngIf="prof.etatFormateur==1">
                                    <td>
                                        <img [src]="prof.urlProfilF" alt="" class="img-fluid" style="height: 50px; width: 50px;">
                                    </td>
                                    <td>
                                        {{prof.prenomF}}
                                    </td>
                                    <td>
                                        {{prof.nomF}}
                                    </td>
                                    <td>
                                        <button class="btn btnDet fw-bold active me-2" data-bs-toggle="modal"
                                            data-bs-target="#detailFormateur" (click)="detailFormt(prof.idFormateur)">Détails</button>
                                        <button class="btn fond-bleu text-light fw-bold" (click)="supprimer(prof)">Désactiver</button>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>

            </div>









            <div class="formateursOff" id="formateursOff" *ngIf="currentContent === 'formateursOff'">
                <h4 class="text-center fw-bold titre">Liste des formateurs désactivés</h4>
                <div class="trait"></div>

                <div class="table-responsive overflow-y-scroll mt-5" style="height: 55vh;">
                    <table class="table align-items-center table-flush">
                        <thead class="sticky-top fond-bleu">
                            <tr class="">
                                <th scope="col" class="fond-bleu text-white">Profil</th>
                                <th scope="col" class="fond-bleu text-white">Prénom du formateur</th>
                                <th scope="col" class="fond-bleu text-white">Nom du formateur</th>
                                <th scope="col" class="fond-bleu text-white">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let prof of tabFormateur" class="">
                                <tr *ngIf="prof.etatFormateur==0">
                                    <td>
                                        <img [src]="prof.urlProfilF" alt="" class="img-fluid" style="height: 50px; width: 50px;">
                                    </td>
                                    <td>
                                        {{prof.prenomF}}
                                    </td>
                                    <td>
                                        {{prof.nomF}}
                                    </td>
                                    <td>
                                        <button class="btn btnDet active" (click)="activer(prof)">Activer</button>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="detailFormateur">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold titre">Détails du formateur</h1>
                <button type="button" class="btn-close fond-bleu text-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <img src={{currentFormateur?.urlProfilF}} class="img-fluid" alt="">
                    </div>
                    <div class="col-12 col-md-9 p-2">
                        <h4 class="titre"> {{currentFormateur?.prenomF}} </h4>
                        <div class="w-100">
                            {{currentFormateur?.descriptF}}
                        </div>
                    </div>
                </div>
                <div class="traitL my-2"></div>
                <div class="row mt-2">
                    <div class="col-12 col-md-4">
                        <span class="titleForm titre fw-bold fs-5">Classe monitoré</span>
                        <p>L1</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <span class="titleForm titre fw-bold fs-5">Matiéres dispensées</span>
                        <ul>
                            <li>_ Anglais</li>
                            <li>_ français</li>
                            <li>_ Maths</li>
                            <li>_ Histoire</li>
                            <li>_ Geographie</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4">
                        <span class="titleForm titre fw-bold fs-5">Evaluations</span>
                        <ul>
                            <li><a href="#">_ Evaluation Anglais</a></li>
                            <li><a href="#">_ Evaluation français</a></li>
                            <li><a href="#">_ Evaluation Maths</a></li>
                            <li><a href="#">_ Evaluation Histoire</a></li>
                            <li><a href="#">_ Evaluation Geographie</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn fond-bleu text-light fw-bold" data-bs-dismiss="modal">Fermer</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>








<!-- Modal ajout Formateur -->
<div class="modal fade" id="ajoutFormateur">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold">Ajouter un formateur</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label for="prenomFormt" class="form-label">Prénom: </label>
                                <input type="text" class="form-control" id="prenomFormt" name="prenomFormateur"
                                    [(ngModel)]="prenomFormateur">
                            </div>

                            <div class="mb-3">
                                <label for="nomFormT" class="form-label">Nom</label>
                                <input type="text" class="form-control" id="nomFormT" name="nomFormateur"
                                    [(ngModel)]="nomFormateur">
                            </div>

                            <div class="mb-3">
                                <label for="passwordFormt" class="form-label">Assigner un mot de passe</label>
                                <input type="password" class="form-control" id="passwordFormt" name="passwordFormateur"
                                    [(ngModel)]="passwordFormateur">
                            </div>

                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label for="descriptF" class="form-label">Description: </label>
                                <textarea class="w-100 h-100" name="descriptionFormateur" id="descriptF" rows="2"
                                    [(ngModel)]="descriptionFormateur"></textarea>
                                <!-- <input type="text" class="form-control" id="descriptionFormt" name="descriptionFormateur" [(ngModel)]="descriptionFormateur" > -->
                            </div>

                            <div class="mb-3">
                                <label for="prenomFormt" class="form-label">Assigner une classe: </label>
                                <select class="form-select" name="classeFormateur" aria-label="Default select example"
                                    [(ngModel)]="classeFormateur">
                                    <option selected>Sélectionner la classe</option>
                                    <option value="L1">L1</option>
                                    <option value="L2">L2</option>
                                    <option value="L3">L3</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="emailAdress" class="form-label">Assigner des matiéres</label>
                                <select class="form-select" name="matieresFormateur" aria-label="Default select example"
                                    [(ngModel)]="matieresFormateur">
                                    <option selected>Sélectionner les matières</option>
                                    <option value="Maths">Maths</option>
                                    <option value="Français">Français</option>
                                    <option value="Anglais">Anglais</option>
                                    <option value="Histoire">Histoire</option>
                                    <option value="Géographie">Géographie</option>
                                    <option value="Espagnole">Espagnole</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="photoProfilFormt" class="form-label">Photo de profil</label>
                        <input type="text" class="form-control" id="photoProfilFormt" name="urlProfileFormateur"
                            [(ngModel)]="urlProfileFormateur">
                    </div>
                    <div class="mb-3">
                        <label for="emailAdress" class="form-label">Adresse email</label>
                        <input type="email" class="form-control" id="emailAdress" name="emailAdress"
                            [(ngModel)]="emailFormateur">
                    </div>

                    <!-- Envoi du formulaire -->
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-dark text-light" type="submit"
                            (click)="ajoutFormateur()" data-bs-dismiss="modal">Ajouter</button>
                        <!-- data-bs-dismiss="modal" -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal ajout Formateur -->


