<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-2 p-0 sidebarContainer">
            <div class="d-flex sidebar flex-column flex-shrink-0 p-2">
                <a class="text-center fw-bold fs-4  text-white text-decoration-none">
                    Tableau de bord
                </a>
                <hr>

                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item my-2" [ngClass]="{'fond-bleu': boutonActif === 1}"
                        (click)="showContent('listeFormateurs')" (click)="boutonActif = 1">
                        <a class="nav-link">
                            Liste des classes
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-12 col-md-10 border">
            <div class="listeFormateurs p-2" id="listeFormateurs" *ngIf="currentContent === 'listeFormateurs'">

                <h4 class="text-center fw-bold titre">Liste des classes</h4>
                <div class="trait"></div>
                <div class="trait"></div>
                <button class="btn btn-white  active mt-2 mb-2 btnAjt" data-bs-toggle="modal"
                    data-bs-target="#ajoutFormateur">Ajouter une classe
                </button>

                <div class="table-responsive overflow-y-scroll mt-2" style="height: 55vh;">
                    <table class="table align-items-center  p-2">
                        <thead class="sticky-top fond-bleu">
                            <tr class="">
                                <th scope="col" class="fond-bleu text-white">Nom classe</th>
                                <th scope="col" class="fond-bleu text-white">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let class of tabClasses">
                                <td>
                                    {{class.nom}}
                                </td>
                                <td>
                                    <button class="btn fond-bleu text-light fw-bold" data-bs-toggle="modal" data-bs-target="#detailMatiere"
                                        (click)="chargerInfosClasse(class)">Modifier</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal ajout Classe -->
<div class="modal fade" id="ajoutFormateur">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold titre">Ajouter une classe</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label for="nomClasse" class="form-label">Renseigner le nom de la classe: </label>
                                <input type="text" class="form-control" id="nomClasse" name="nomClasse"
                                    [(ngModel)]="nomClasse">
                            </div>
                        </div>
                    </div>

                    <!-- Envoi du formulaire -->
                    <div class="d-flex justify-content-end">
                        <button class="btn save" (click)="ajoutClassesValider()">Ajouter</button>
                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" >Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>

<!-- Modal modifier Classe -->
<div class="modal fade" id="detailMatiere">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold titre">Modification Classe</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label for="nomClasse" class="form-label">Nom de la classe: </label>
                                <input type="text" class="form-control" id="nomClasse" name="nomClasse" [(ngModel)]="nom">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn close" data-bs-dismiss="modal" (click)="modierClasse()">Modifier</button>
            </div>
        </div>
    </div>
</div>


