.trait{
    border: 1px solid #F2D4CC;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 5%;
}

.formulaireContainer{
    width: 30%;
    margin: 5% auto !important;
    background-color: #7c1843;
    color: #FFF;
}

.btnLogin{
    background-color: white;
    border: none;
    color: #7c1843;
}