<header style="border: none !important;background-color: #D9B;">
  <nav style="display: flex; align-items: center; justify-content: space-between;">
    <img id="image" [src]="imageUrl" alt="">
    <ul style="list-style: none; display: flex; margin: 0; padding: 0;">
      <li class="nav-item">
        <a href="home" class="nav-link" style="color: white ;">
          <svg class="bi " width="16" height="16"><use xlink:href="#home"></use></svg>
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-white" style="color: white;">
          <svg class="bi mx-3" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Formateur
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-white" style="color: white;">
          <svg class="bi mx-3" width="16" height="16"><use xlink:href="#table"></use></svg>
          Apprenant
        </a>
      </li>
    </ul>
  </nav>
</header>
