header {
  /* background-color: #333; */
  color: #fff;
  padding: 10px;
}
#image{
  width:15%;
  /* padding-left: 10%; */
}
.nav-link:focus-within{
  background-color: white;
  color: #7C1843 !important;

}
.nav-link:hover{
  background-color: white;
  color: #7C1843 !important;
  /* text-align: center; */
}

