
<!-- Example Code -->

<nav class="navbar navbar-expand-lg headercontainer">
    <div class="container px-5">
        <a class="navbar-brand text-light" href="#">
            <img src="../../../../assets/logo.png" alt="" style="width: 140px;">
        </a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img class="img-fluid" style="width: 4Opx; height: 40px; border-radius: 50%;" src="https://images.unsplash.com/photo-1474176857210-7287d38d27c6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE4fHx8ZW58MHx8fHx8" alt="">
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item text-dark" href="#">Profil</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item text-dark" href="#">Se déconnecter</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- End Example Code -->
